*{
  margin: 0;
  border-radius: 10px;
  font-size: 25px;
  text-align: center;
}
header, footer{
  background-color: #222222;
  padding: 25px;
  color: white;
  opacity: 0.9;
}
.img1{
 
}
.para1 {
    font-style: italic;
}
.row {
    display: flex;
    background-color: darkgray;
  }
  
  .column {
    flex: 50%;
  }
  .column_right {
    flex: 50%;
    background-color: white;

  }